* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;

}

.container-sm {
  margin: 0 auto;
  display: flex;
  max-width: 750px;

}

/* header styling */
header {
  background-color: #255EE9;
  color: white;
}

header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header ul li {
  margin: 0 10px;

}

header ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

header ul li a:visited {
  text-decoration: none;
}

/*button styling */


.btn {

  text-decoration: none;
  border-radius: 50px;

}

.b-white {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.b-white:hover {
  background-color: #252728;
  color: white;
  border: 2px solid #252728;
}

.b-dark {
  background-color: #252728;
  color: white;
  border: 2px solid #252728;
}

.b-dark:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.b-blue {
  background-color: #90A1E0;
  color: white;
  border: 2px solid white;
}

.b-blue:hover {
  background-color: white;
  color: #90A1E0;
  border: 2px solid #90A1E0;
}

/*misc */
.hero {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 1.3rem;
}

.stars {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px;

}

/*footer */
footer {
  font-size: 1.5rem;
  font-weight: bold;
}

footer ul {
  list-style: none;

}

.langdrop img {
  text-align: center;
  height: 30px;
  vertical-align: middle;
}

footer ul a {
  text-decoration: none;

}

footer ul li {
  padding: 10px 0;

}

.border-top-white {
  /*footer top border*/
  border-top: 1px solid white;
}

/* utils*/


/* utils/flex_attributes */
.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

/*column percentiles */
.col15 {
  width: 15%;
  padding: 50px 20px 20px 20px;
}

.col20 {
  width: 20%;
}

.col40 {
  width: 40%;
}

.col60 {
  width: 60%;
}

.col100 {
  width: 100%;
}

/*text formatting*/
.text-blue {
  color: #90a1e0;
}

.text-grey {
  color: #1B1B1B;
}

.text-center {
  text-align: center;
}


.text-right {
  text-align: right;
}

.text-white {
  color: white;
}

/*font formatting*/
.bold {
  font-weight: bold;
}

.txt4 {
  font-size: 4rem;

}

.txt1v5 {
  font-size: 1.5rem;

}

.txt2 {
  font-size: 2rem;

}


/*paddings*/
.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p25 {
  padding: 25px;
}

.p50 {
  padding: 50px;
}

/*padding top */
.pt10 {
  padding-top: 10px;
}

.pt30 {
  padding-top: 30px;
}

.pt50 {
  padding-top: 50px;
}

/*padding bottom */
.pb30 {
  padding-bottom: 30px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb80 {
  padding-bottom: 80px;
}

/* padding y */
.py20 {
  padding: 20px 0;
}

.py30 {
  padding: 30px 0;
}

.py50 {
  padding: 50px 0;
}

/* padding x */
.px20 {
  padding: 0 20px;
}

/* padding right */
.pr15 {
  padding-right: 15px;
}

/*margins*/



.mx20 {
  margin: 0 20px;
}

.mr150 {
  margin-right: 150px;
}

.mb100 {
  margin-bottom: 100px;
}

.my20 {
  margin: 20px 0;
}


.mt50 {
  margin-top: 50px;
}

/* utils/background_colors */

.bg-silver {
  background-color: #F6F6F6;
}

.bg-dark-grey {
  background-color: rgb(27, 27, 27);
}